.btn-dash-main, .btn-dash-main:hover {
    width: 100%;
    height: 100px;
    cursor: default !important;
}

.col-dashboard {
    margin-bottom: 8px;
}

#daychart {
    height: 300px;
}

#reset_day_zoom {
    height: 38px;
}