* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
}

.grid-item {
    color: rgb(255, 255, 255);
    padding: 20px;

    text-align: center;
    font-family: sans-serif;
    width: 100%;
    position: relative;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#production {
    background-color: #28a745;
}

#consumption {
    background-color: #0064b4;
}

#accu {
    background-color: #17a2b8;
}

#grid {
    background-color: #dc3545;
}

.value {
    font-weight: bolder !important;

}

html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: xx-large;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.accustate {
    background-color: #ffc107;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vh;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 13px;
}

.value {
    font-size: 2.5em;
}

@media only screen and (max-width: 700px) {
    .value {
        font-size: 1.2em;
    }
}
