<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

    <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.json') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static',
            filename='index.css') }}">
    <title>Dashboard - E3DC</title>
</head>

<body>
<div class="container">
    <h1>E3DC</h1>

    <br>
    <div class="row">
        <div class="col-sm-3 col-dashboard">
            <div class="card bg-success text-white">
                <div class="card-body"><b id="solar"></b>
                    <div class="text-white-50 small">Solar</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-dashboard">
            <div class="card bg-primary text-white">
                <div class="card-body"><b id="consumption"></b>
                    <div class="text-white-50 small">Verbrauch</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-dashboard">
            <div class="card bg-info text-white">
                <div class="card-body"><b id="accu"></b>
                    <div class="text-white-50 small">Akkuladung (+) / Entladung (-)</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-dashboard">
            <div class="card bg-danger text-white">
                <div class="card-body"><b id="grid"></b>
                    <div class="text-white-50 small">Einspeisung (+) / Auspeisung (-)</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="progress" style="height: 30px;">
        <div class="progress-bar" id="accustate" style="width:0%;
                    height: 30px; font-size: large;"></div>
    </div>
    <br>
    <div class="progress" style="height: 30px;">
        <div class="progress-bar" id="autarky" style="width:0%; height:
                    30px; font-size: large;"></div>
    </div>
    <br>
    <div class="progress" style="height: 30px;">
        <div class="progress-bar" id="selfConsumption" style="width:0%;
                    height: 30px; font-size: large;"></div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" onclick="daily_history_before()">Vorheriger Tag</a></li>
                <li class="page-item active" id="day_today"><a class="page-link"
                                                               onclick="daily_history_today()">Heute</a></li>
                <li class="page-item" id="day_next"><a class="page-link" onclick="daily_history_next()">Nächster
                    Tag</a></li>
            </ul>
        </div>
        <button type="button" onclick="DayChart.resetZoom()" id="reset_day_zoom" class="btn btn-info">Reset
            Zoom
        </button>
    </div>


    <canvas id="daychart" height="300"></canvas>
    <a href="/kiosk/" class="btn btn-info" role="button">Kiosk Mode</a>
    <canvas id="myChart" height="200"></canvas>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
<script src="{{ url_for('static', filename='charts.js') }}"></script>
<script src="{{ url_for('static', filename='dash-counters.js') }}"></script>
</body>

</html>