<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
            filename='kiosk.css') }}">
</head>

<body  onclick="openFullscreen()">

<div class="grid-container">
    <div id="production" class="grid-item">
        <div class="centered">Produktion<br>
            <div class="value" id="prod_value">300W</div>
        </div>
    </div>
    <div id="consumption" class="grid-item">
        <div class="centered">Verbrauch<br>
            <div class="value" id="consumption_value">300W</div>
        </div>
    </div>
    <div id="accu" class="grid-item">
        <div class="centered">Akkuladung / Entladung<br>
            <div class="value" id="accu_value">300W</div>
        </div>
    </div>
    <div id="grid" class="grid-item">
        <div class="centered">Netz<br>
            <div class="value" id="grid_value">300W</div>
        </div>
    </div>
</div>


<div class="accustate">Akkuladung <br><b id="accustate_val"></b></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='kiosk.js') }}"></script>
</body>